<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean>
		<property name="name" value="Vikash" />
		<property name="phone">
			<list>
				<value>124235425</value>
				<value>12443465</value>
				<value>0345346346</value>
				<value>0345345175</value>
			</list>
		</property>

		<property name="addresses">
			<set>
				<value>Delhi</value>
				<value>Arunachal</value>
				<value>Bihar</value>
				<value>Mumbi</value>
			</set>
		</property>

		<property name="courses">
			<map>
				<entry key="Java" value="Two Month" />
				<entry key="pythone" value="Three Month" />
				<entry key="c language" value="one Month" />
				<entry key="R language" value="Four Month" />
			</map>
		</property>

		<property name="field">
			<props>
				<prop key="name">Prince</prop>
				<prop key="ChannelName">Seggyhunter</prop>
				<prop key="Occupation">Youtuber</prop>
			</props>

		</property>

	</bean>

</beans>